{{>partial_header}}

package {{packageName}}

{{#operations}}
import (
	"net/http"
	"gitlab.com/inlecom/InterQ/ledger-api-server/internal/controllers"
){{#operation}}

// {{nickname}} Handler for the {{nickname}} request 
func {{nickname}}(w http.ResponseWriter, r *http.Request) {
	err := controllers.{{nickname}}(w, r)
	if err != nil {
		w.WriteHeader(http.StatusInternalServerError)	
	}
}{{/operation}}{{/operations}}
