{{>partial_header}}

package main

import (
	"log"
	"net/http"

	"gitlab.com/inlecom/InterQ/ledger-api-server/{{apiPath}}/{{packageName}}"
)

func main() {
	log.Printf("Server started")

	router := {{packageName}}.NewRouter()

	log.Fatal(http.ListenAndServe(":{{serverPort}}", router))
}
