{{>partial_header}}

package {{modelPackage}}
{{#models}}{{#imports}}
import ({{/imports}}{{#imports}}
	"{{import}}"{{/imports}}{{#imports}}
)
{{/imports}}{{#model}}{{#isEnum}}{{#description}}// {{{classname}}} : {{{description}}}{{/description}}
type {{{name}}} {{^format}}{{dataType}}{{/format}}{{#format}}{{{format}}}{{/format}}

// List of {{{name}}}
const (
	{{#allowableValues}}
	{{#enumVars}}
	{{name}} {{{classname}}} = "{{{value}}}"
	{{/enumVars}}
	{{/allowableValues}}
){{/isEnum}}{{^isEnum}}{{#description}}
// {{{description}}}{{/description}}
type {{classname}} struct {
{{#isComposedModel}}
    {{#interfaceModels}}
    {{classname}}
    {{/interfaceModels}}
{{/isComposedModel}}
{{^isComposedModel}}
{{#vars}}{{#description}}
	// {{{description}}}{{/description}}
	{{name}} {{^isEnum}}{{^isPrimitiveType}}{{^isContainer}}{{^isDateTime}}*{{/isDateTime}}{{/isContainer}}{{/isPrimitiveType}}{{/isEnum}}{{{datatype}}} `json:"{{baseName}}{{#required}},required{{/required}}{{^required}},omitempty{{/required}}"`
{{/vars}}
{{/isComposedModel}}
}{{/isEnum}}{{/model}}{{/models}}
