{{>partial_header}}

package {{packageName}}

import (
	"fmt"
	"gitlab.com/inlecom/InterQ/ledger-api-server/configs"
	"log"
	"net/http"
	"strings"

	"github.com/gorilla/mux"
)

// Route struct
type Route struct {
	Name        string
	Method      string
	Pattern     string
	HandlerFunc http.HandlerFunc
}

// Routes Array of Route structs
type Routes []Route

// NewRouter returns a new router
func NewRouter() *mux.Router {
	envcfg, err := configs.InitConfig()
	if err != nil {
		log.Fatal(err)
	}

	router := mux.NewRouter().StrictSlash(true)
	for _, route := range routes {
		var handler http.Handler
		handler = route.HandlerFunc
		handler = Logger(handler, route.Name)

		router.
			Methods(route.Method).
			Path(route.Pattern).
			Name(route.Name).
			Handler(handler)
	}

	fs := http.FileServer(http.Dir(envcfg.WORKDIR + "/api/ui/"))
	router.PathPrefix("/api").Handler(http.StripPrefix("/api", fs))

	return router
}

// Index Index
func Index(w http.ResponseWriter, r *http.Request) {
	fmt.Fprintf(w, "Hello World from the IterQ Trusted Framework OpenAPI !")
}

var routes = Routes{
	Route{
		"Index",
		"GET",
		"{{{basePathWithoutHost}}}/",
		Index,
	},{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}

	Route{
		"{{operationId}}",
		strings.ToUpper("{{httpMethod}}"),
		"{{{basePathWithoutHost}}}{{{path}}}",
		{{operationId}},
	},{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
}
